* {
    margin: 0px;
    padding: 0px;
}

#clearfix {
    float: none;
    clear: both;
}

header {
    margin: 0px;
    background: #333;
    color: #f2f2f2;
    font-family: Helvetica, Arial;
    letter-spacing: 2px;
    text-align: center;
    padding: 8px;
}

footer {
    margin: 0px;
    background: #333;
    color: #f2f2f2;
    letter-spacing: 2px;
    font-family: Helvetica, Arial;
    text-align: center;
    margin-top: 20px;
    padding: 8px
}

.form {
    margin: 0px;
    background: #333;
    color: #f2f2f2;
    letter-spacing: 2px;
    font-family: Helvetica, Arial;
    text-align: center;
    margin-top: 20px;
    padding: 8px
}

h1 {
    text-align: center;
    font-family: Helvetica, Arial;
}